body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.counter{
  text-align: center;
  padding: 30px;
}

.parent{
  background-color: burlywood;
  padding: 15px;
  border: 1px solid black;
}
.child{
  background-color: rgb(135, 208, 222);
  padding: 15px;
  border: 1px solid black;
}
.bg-red{
  background-color: coral;
}

.form-container{
  padding: 30px;
  text-align: center;
}

